<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="92291514" android:versionName="12.1.07.463429027-beta-arm64-v8a" android:compileSdkVersion="33" android:compileSdkVersionCodename="UpsideDownCake" coreApp="true" package="com.google.android.inputmethod.latin" platformBuildVersionCode="33" platformBuildVersionName="UpsideDownCake">
    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="33"/>
    <original-package android:name="com.android.inputmethod.latin"/>
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
    <uses-permission-sdk-23 android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission-sdk-23 android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission-sdk-23 android:name="android.permission.CAMERA"/>
    <uses-permission android:name="com.bitstrips.imoji.provider.READ"/>
    <uses-permission-sdk-23 android:name="android.permission.INTERACT_ACROSS_PROFILES"/>
    <uses-feature android:name="android.hardware.faketouch" android:required="true"/>
    <uses-feature android:name="android.hardware.screen.portrait" android:required="false"/>
    <uses-feature android:name="android.hardware.microphone" android:required="false"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>
    <queries>
        <package android:name="com.bitstrips.imoji"/>
        <package android:name="com.google.android.googlequicksearchbox"/>
        <package android:name="com.google.android.apps.inputmethod.datahound.app"/>
        <package android:name="com.google.android.inputmethod.keyboarddevutils"/>
        <package android:name="com.google.android.apps.village.boond"/>
        <package android:name="com.google.android.marvin.talkback"/>
        <package android:name="com.google.android.apps.internal.betterbug"/>
        <intent>
            <action android:name="android.speech.RecognitionService"/>
        </intent>
    </queries>
    <application android:theme="@style/AppThemeSelector" android:label="@string/ime_name" android:icon="@mipmap/ic_app" android:name="com.google.android.apps.inputmethod.latin.ImeLatinApp" android:taskAffinity="" android:backupAgent="com.google.android.libraries.inputmethod.backup.BackupAgent" android:allowBackup="true" android:killAfterRestore="false" android:restoreAnyVersion="true" android:supportsRtl="true" android:extractNativeLibs="false" android:usesCleartextTraffic="false" android:roundIcon="@mipmap/ic_app_round" android:crossProfile="true">
        <meta-data android:name="com.google.android.backup.api_key" android:value="AEdPqrEAAAAIl3fO6Spo7vqdonbORA0gOqfXPTnKWTdG6eHJNA"/>
        <meta-data android:name="com.google.android.partnersetup.RLZ_BOUNTY_ACCESS_POINT" android:value="y0,yg"/>
        <service android:label="@string/ime_name" android:name="com.android.inputmethod.latin.LatinIME" android:permission="android.permission.BIND_INPUT_METHOD" android:exported="true" android:directBootAware="true">
            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method"/>
        </service>
        <receiver android:name="com.google.android.apps.inputmethod.latin.core.ApkUpdatedReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <activity android:theme="@style/SettingsTheme.Transparent" android:label="@string/ime_name_ref" android:name="com.google.android.apps.inputmethod.libs.framework.core.LauncherActivity" android:enabled="@bool/show_launcher_icon" android:exported="true" android:configChanges="screenSize|orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/DayNightTheme.NoActionBar" android:name="com.google.android.apps.inputmethod.latin.firstrun.LatinFirstRunActivity" android:exported="false" android:finishOnTaskLaunch="true" android:clearTaskOnLaunch="true" android:launchMode="singleTask" android:configChanges="screenSize|keyboardHidden" android:windowSoftInputMode="stateAlwaysHidden"/>
        <receiver android:name="com.google.android.apps.inputmethod.libs.japanese.keyboard.InputDeviceReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.hardware.input.action.QUERY_KEYBOARD_LAYOUTS"/>
            </intent-filter>
            <meta-data android:name="android.hardware.input.metadata.KEYBOARD_LAYOUTS" android:resource="@xml/keyboard_layouts_ja"/>
        </receiver>
        <provider android:name="com.google.android.libraries.inputmethod.fileprovider.CrashResistantFileProvider" android:exported="false" android:authorities="com.google.android.inputmethod.latin.fileprovider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_provider_paths"/>
        </provider>
        <meta-data android:name="com.google.android.gms.phenotype.registration.xml:com.google.android.gms.learning" android:resource="@xml/com_google_android_gms_learning_phenotype"/>
        <service android:name="com.google.android.libraries.phenotype.registration.PhenotypeMetadataHolderService" android:enabled="false" android:exported="false" android:process="">
            <intent-filter>
                <action android:name="com.google.android.libraries.phenotype.registration.PhenotypeMetadataHolderService"/>
            </intent-filter>
            <meta-data android:name="com.google.android.gms.phenotype.registration.binarypb:com.google.android.gms.learning" android:resource="@raw/com_google_android_gms_learning_registration_info"/>
            <meta-data android:name="com.google.android.gms.phenotype.registration.binarypb:com.google.android.gms.clearcut_client" android:resource="@raw/0_resource_name_obfuscated_res_0x7f130003"/>
            <meta-data android:name="com.google.android.gms.phenotype.registration.binarypb:com.google.android.libraries.consentverifier" android:resource="@raw/com_google_android_libraries_consentverifier_registration_info"/>
            <meta-data android:name="com.google.android.gms.phenotype.registration.binarypb:com.google.android.gms.icing.mdd" android:resource="@raw/com_google_android_gms_icing_mdd_registration_info"/>
            <meta-data android:name="com.google.android.gms.phenotype.registration.binarypb:com.google.android.inputmethod.latin" android:resource="@raw/com_google_android_inputmethod_latin_registration_info_beta"/>
            <meta-data android:name="com.google.android.gms.phenotype.heterodyne_info.binarypb:com.google.android.libraries.performance.primes" android:resource="@raw/0_resource_name_obfuscated_res_0x7f130042"/>
            <meta-data android:name="com.google.android.gms.phenotype.registration.binarypb:com.google.android.libraries.performance.primes" android:resource="@raw/com_google_android_libraries_performance_primes_registration_info"/>
        </service>
        <meta-data android:name="com.google.android.gms.phenotype.registration.xml:com.google.android.gms.clearcut_client" android:resource="@xml/com_google_android_gms_clearcut_client_phenotype"/>
        <meta-data android:name="com.google.android.gms.phenotype.registration.xml:com.google.android.libraries.consentverifier" android:resource="@xml/com_google_android_libraries_consentverifier_phenotype"/>
        <meta-data android:name="com.google.android.gms.phenotype.registration.xml:com.google.android.gms.icing.mdd" android:resource="@xml/com_google_android_gms_icing_mdd_phenotype"/>
        <meta-data android:name="com.google.android.gms.phenotype.registration.xml:com.google.android.inputmethod.latin" android:resource="@xml/com_google_android_inputmethod_latin_phenotype_beta"/>
        <meta-data android:name="com.google.android.gms.phenotype.registration.xml:com.google.android.libraries.performance.primes" android:resource="@xml/com_google_android_libraries_performance_primes_phenotype"/>
        <activity android:theme="@style/DayNightTheme.NoActionBar" android:label="@string/setting_title" android:name="com.google.android.apps.inputmethod.latin.preference.SettingsActivity" android:exported="true" android:taskAffinity="com.google.android.apps.inputmethod.latin.preference.SettingsActivity" android:configChanges="smallestScreenSize|screenLayout"/>
        <service android:label="@string/spell_checker_name" android:name="com.android.inputmethod.latin.spellcheck.AndroidSpellCheckerService" android:permission="android.permission.BIND_TEXT_SERVICE" android:exported="true">
            <intent-filter>
                <action android:name="android.service.textservice.SpellCheckerService"/>
            </intent-filter>
            <meta-data android:name="android.view.textservice.scs" android:resource="@xml/spell_checker"/>
        </service>
        <activity android:label="@string/spell_checker_settings" android:name="com.google.android.apps.inputmethod.latin.spelling.LatinSpellCheckerSettingsActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <provider android:name="com.google.android.apps.inputmethod.latin.preference.SettingsSearchIndexablesProvider" android:permission="android.permission.READ_SEARCH_INDEXABLES" android:exported="true" android:multiprocess="false" android:authorities="com.google.android.inputmethod.latin" android:grantUriPermissions="true">
            <intent-filter>
                <action android:name="android.content.action.SEARCH_INDEXABLES_PROVIDER"/>
            </intent-filter>
        </provider>
        <activity android:theme="@style/DayNightTheme.NoActionBar" android:name="com.google.android.apps.inputmethod.libs.sharing.SharingLinkReceiveActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:theme="@style/SettingsTheme.Transparent" android:label="@string/ime_name_ref" android:name="com.google.android.apps.inputmethod.latin.sharing.LinkReceivingLauncherActivity" android:exported="true" android:configChanges="screenSize|orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="deeplink.com.google.android.inputmethod.latin"/>
            </intent-filter>
        </activity>
        <uses-native-library android:name="libedgetpu_util.so" android:required="false"/>
        <uses-native-library android:name="libedgetpu_client.google.so" android:required="false"/>
        <service android:name="com.google.android.gms.learning.internal.training.InAppTrainingService" android:enabled="true" android:exported="false" android:process=":train">
            <intent-filter>
                <action android:name="com.google.android.gms.learning.training.START"/>
            </intent-filter>
        </service>
        <provider android:name="com.google.android.apps.inputmethod.libs.clipboard.ClipboardContentProvider" android:exported="false" android:authorities="com.google.android.inputmethod.latin.clipboard_content"/>
        <activity android:name="com.google.android.apps.inputmethod.libs.crash.UserFeedbackActivity" android:exported="false"/>
        <service android:name="com.google.android.apps.inputmethod.libs.dataservice.superpacks.SuperpacksForegroundTaskService" android:exported="false"/>
        <service android:name="com.google.android.apps.inputmethod.libs.dataservice.superpacks.SuperpacksBackgroundJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false"/>
        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent" android:name="com.google.android.apps.inputmethod.libs.expression.startactivityforresult.StartActivityForResult" android:exported="false"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <service android:name="com.google.android.libraries.inputmethod.taskscheduler.JobSchedulerImpl$TaskRunnerJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true"/>
        <provider android:name="androidx.core.content.FileProvider" android:exported="false" android:authorities="com.google.android.inputmethod.latin.inputactionprovider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/input_action_path"/>
        </provider>
        <service android:name="com.google.android.apps.inputmethod.libs.nga.impl.KeyboardDictationService" android:enabled="true" android:exported="true"/>
        <activity android:name="com.google.android.apps.inputmethod.libs.search.sticker.StickerFavoritePacksReorderActivity" android:exported="false"/>
        <activity android:name="com.google.android.apps.inputmethod.libs.swissarmyknife.DecoderStateReportActivity" android:exported="false" android:configChanges="screenSize|orientation"/>
        <provider android:name="com.google.android.apps.inputmethod.libs.swissarmyknife.CrashResistantSwissArmyKnifeFileProvider" android:exported="false" android:authorities="com.google.android.inputmethod.latin.swissarmyknifefileprovider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/sak_file_provider_paths"/>
        </provider>
        <activity android:theme="@style/DayNightTheme.NoActionBar" android:label="@string/theme_builder_title" android:name="com.google.android.apps.inputmethod.libs.theme.builder.ThemeBuilderActivity" android:exported="false" android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation"/>
        <activity android:theme="@style/DayNightTheme.NoActionBar" android:label="@string/theme_editor_title" android:name="com.google.android.apps.inputmethod.libs.theme.builder.ThemeEditorActivity" android:exported="false" android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation"/>
        <service android:name="com.google.android.apps.inputmethod.libs.trainingcache.examplestoreservice.ExampleStoreServiceMultiplexer" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.learning.EXAMPLE_STORE"/>
            </intent-filter>
            <intent-filter android:priority="-100">
                <action android:name="com.google.android.gms.learning.EXAMPLE_STORE_V2"/>
                <data android:scheme="app"/>
            </intent-filter>
        </service>
        <service android:label="SpeechFederationResultHandlingService" android:name="com.google.android.apps.inputmethod.libs.trainingcache.federation.speech.SpeechFederationResultHandlingService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.learning.COMPUTATION_RESULT"/>
                <data android:scheme="app" android:host="*" android:pathPattern="/SpeechFederation.*"/>
            </intent-filter>
        </service>
        <service android:label="LanguageModelPersonalizationResultHandlingService" android:name="com.google.android.apps.inputmethod.libs.trainingcache.personalization.languagemodel.LanguageModelPersonalizationResultHandlingService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.learning.COMPUTATION_RESULT"/>
                <data android:scheme="app" android:host="*" android:pathPattern="/LMPersonalization.*"/>
            </intent-filter>
        </service>
        <service android:label="LmForSpeechPersonalizationResultHandlingService" android:name="com.google.android.apps.inputmethod.libs.trainingcache.personalization.languagemodel.LmForSpeechPersonalizationResultHandlingService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.learning.COMPUTATION_RESULT"/>
                <data android:scheme="app" android:host="*" android:pathPattern="/LmForSpeechPersonalization.*"/>
            </intent-filter>
        </service>
        <service android:label="SpeechPersonalizationResultHandlingService" android:name="com.google.android.apps.inputmethod.libs.trainingcache.personalization.speech.SpeechPersonalizationResultHandlingService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.learning.COMPUTATION_RESULT"/>
                <data android:scheme="app" android:host="*" android:pathPattern="/SpeechPersonalization.*"/>
            </intent-filter>
        </service>
        <service android:name="com.google.android.apps.inputmethod.libs.trainingcache.replaycache.precomputedfeature.speech.examplestoreservice.SpeechPrecomputedFeatureExampleStoreService" android:enabled="true" android:exported="false">
            <intent-filter android:priority="0">
                <action android:name="com.google.android.gms.learning.EXAMPLE_STORE_V2"/>
                <data android:scheme="app" android:host="*" android:pathPrefix="/speech_precomputed_feature_data"/>
            </intent-filter>
        </service>
        <service android:name="com.google.android.apps.inputmethod.libs.trainingcache.replaycache.sanitycheckeval.nwpp13n.examplestoreservice.NWPSanityCheckEvalExampleStoreService" android:enabled="true" android:exported="false">
            <intent-filter android:priority="0">
                <action android:name="com.google.android.gms.learning.EXAMPLE_STORE_V2"/>
                <data android:scheme="app" android:host="*" android:pathPrefix="/nwp_sanity_check_eval_data"/>
            </intent-filter>
        </service>
        <receiver android:name="com.google.android.apps.inputmethod.libs.translate.SuggestionSpanBroadcastForwarder" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.text.style.SUGGESTION_PICKED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.android.apps.inputmethod.libs.voiceime.backend.ondevice.OnDeviceDownloadNowReceiver" android:exported="false"/>
        <activity android:name="com.google.android.play.core.missingsplits.PlayCoreMissingSplitsActivity" android:enabled="false" android:exported="false" android:process=":playcore_missing_splits_activity" android:stateNotNeeded="true" android:launchMode="singleInstance"/>
        <activity android:theme="@style/0_resource_name_obfuscated_res_0x7f1506e9" android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity" android:exported="false" android:stateNotNeeded="true"/>
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:exported="false"/>
        <service android:name="com.google.android.gms.learning.internal.training.InAppJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:enabled="true" android:exported="false"/>
        <service android:name="com.google.firebase.components.ComponentDiscoveryService" android:exported="false">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.dynamiclinks.internal.FirebaseDynamicLinkRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <activity android:theme="@style/AvatarCreationTheme" android:label="" android:name="com.google.android.libraries.avatar.creation.CreateAvatarActivity" android:screenOrientation="portrait"/>
        <activity android:theme="@style/StickerLightTheme" android:label="@string/avatar_customizer_label" android:name="com.google.android.libraries.avatar.customizer.CustomizeAvatarActivity" android:screenOrientation="portrait"/>
        <provider android:name="com.google.android.libraries.inputmethod.appcontext.ApplicationContextContentProvider" android:exported="false" android:authorities="com.google.android.inputmethod.latin.appcontext.provider" android:initOrder="0x7fffffff" android:directBootAware="true"/>
        <activity android:theme="@android:style/Theme.Material.Light" android:label="BlankActivity" android:name="com.google.android.libraries.inputmethod.blankactivity.BlankActivity" android:exported="false" android:configChanges="fontScale|density|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity android:label="Feature Split Debug" android:name="com.google.android.libraries.inputmethod.featuresplit.debugactivity.FeatureSplitDebugActivity" android:exported="false"/>
        <service android:name="com.google.android.libraries.inputmethod.featuresplit.metrics.FeatureSplitMultiprocessMetricsService" android:exported="false"/>
        <receiver android:name="com.google.android.libraries.inputmethod.launchericon.LauncherIconVisibilityInitializer" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.libraries.inputmethod.mdd.ForegroundDownloadService" android:exported="false"/>
        <activity android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" android:name="com.google.android.libraries.inputmethod.permissions.PermissionsActivity" android:exported="false" android:taskAffinity="" android:clearTaskOnLaunch="true" android:excludeFromRecents="true" android:launchMode="singleTask"/>
        <service android:label="LocalComputationResultHandlingService" android:name="com.google.android.libraries.inputmethod.trainingcache.localcomputation.LocalComputationResultHandlingService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.learning.COMPUTATION_RESULT"/>
                <data android:scheme="app" android:host="*" android:pathPattern="/NEBULAE_LC-.*"/>
            </intent-filter>
        </service>
        <service android:label="FederatedResultHandlingService" android:name="com.google.android.libraries.inputmethod.trainingcache.trainer.dynamictrainer.FederatedResultHandlingService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.learning.COMPUTATION_RESULT"/>
                <data android:scheme="app" android:host="*" android:pathPattern="/FEDERATED_.*"/>
            </intent-filter>
        </service>
        <activity android:theme="@style/TransparentActivity" android:name="com.google.android.libraries.inputmethod.workprofile.EmptyActivity" android:exported="false"/>
        <activity android:theme="@style/TransparentActivity" android:name="com.google.android.libraries.inputmethod.workprofile.TrampolineActivity" android:exported="false"/>
        <receiver android:name="com.google.android.libraries.inputmethod.workprofile.CanInteractAcrossProfilesBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.content.pm.action.CAN_INTERACT_ACROSS_PROFILES_CHANGED"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.enterprise.connectedapps.CrossProfileConnector_Service" android:exported="false"/>
        <receiver android:name="com.google.android.libraries.performance.primes.transmitter.LifeboatReceiver" android:exported="false" android:process=":primes_lifeboat"/>
        <receiver android:name="com.google.android.libraries.phenotype.client.stable.AccountRemovedBroadcastReceiver" android:exported="true" android:process="">
            <intent-filter>
                <action android:name="android.accounts.action.ACCOUNT_REMOVED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.android.libraries.phenotype.client.stable.PhenotypeUpdateBackgroundBroadcastReceiver" android:permission="com.google.android.gms.permission.PHENOTYPE_UPDATE_BROADCAST" android:exported="true" android:process="">
            <intent-filter>
                <action android:name="com.google.android.gms.phenotype.UPDATE"/>
            </intent-filter>
        </receiver>
        <activity android:theme="@style/Theme.AppCompat.DayNight" android:label="@string/preferences_license_title" android:name="com.google.android.libraries.social.licenses.LicenseMenuActivity" android:exported="true"/>
        <activity android:theme="@style/Theme.AppCompat.DayNight" android:label="@string/preferences_license_title" android:name="com.google.android.libraries.social.licenses.LicenseActivity" android:exported="false"/>
        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:name="com.google.android.libraries.stickers.avatarcreation.LaunchAvatarCreationActivity" android:screenOrientation="portrait"/>
        <activity android:theme="@style/StickerLightTheme" android:label="@string/megamode_title_label" android:name="com.google.android.libraries.stickers.megamode.MegamodeActivity" android:screenOrientation="portrait"/>
        <provider android:name="com.google.android.libraries.stickers.megamode.MegamodeFileProvider" android:exported="false" android:authorities="com.google.android.inputmethod.latin.expressivestickers.megamodefileprovider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/megamode_file_provider_paths"/>
        </provider>
        <service android:name="androidx.camera.core.impl.MetadataHolderService" android:enabled="false" android:exported="false"/>
        <provider android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer" android:exported="false" android:multiprocess="true" android:authorities="com.google.android.inputmethod.latin.lifecycle-process"/>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>
        <service android:name="com.google.android.build.data.PropertiesServiceHolder" android:enabled="false" android:exported="false" android:process="">
            <intent-filter>
                <action android:name="com.google.android.build.data.Properties"/>
            </intent-filter>
            <meta-data android:name="com.google.android.build.data.properties" android:resource="@raw/0_resource_name_obfuscated_res_0x7f130000"/>
        </service>
        <meta-data android:name="com.android.dynamic.apk.fused.modules" android:value="base"/>
        <meta-data android:name="com.android.stamp.source" android:value="https://play.google.com/store"/>
        <meta-data android:name="com.android.stamp.type" android:value="STAMP_TYPE_STANDALONE_APK"/>
        <meta-data android:name="com.android.vending.splits" android:resource="@xml/splits0"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="2"/>
    </application>
</manifest>
